<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogrator Academy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
  {% include 'header.html' %}





  {% include 'footer.html' %}
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
